        <footer>
            
            <nav class="navbar navbar-inverse navbar-fixed-bottom center-block">
                <div class="navbar-text" style="margin-left: 40%;font-size: 0.4cm;"> Developed by Zeel Patel @2021</div>
            </nav>
        </footer>
      
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
       
    </body>
</html>