<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content="Zeel"></meta>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" href='/public/demo.js'> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body id="main">
    <nav class="navbar navbar-default" style="background-color: black;">
        <div class="container" style="margin-left: 30%;">

          <div class="navbar-header">

            <a class="navbar-brand" href="/">Food Junction</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" type="button" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                
            <% if (!user) { %>
                
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                
            <% }
            else { %>
                <li><a href="/food">Food log</a></li>
                <li><a href="/food/add">Add Item</a></li>
                <li><a href="/logout" style="font-weight: bold;font-size: 00.4cm;color: mediumspringgreen;">Logout</a></li>

            <% } %>
            </ul>
            
        </div>
        
    </nav>