<%- include partials/header-main.ejs %>

<!--<h1><%= title %></h1>-->
<h3 style="margin-top: 10%; font-size: 2cm; margin-left: 20%;">Welcome to Food Junction</h3>
<h3 style="color: black;margin-left: 3%;">In this website, indivdual user can store their food data along with name, Cuisine type and Best before to eat it.</h3>
<%- include partials/footer.ejs %>